<div id="container">
  <header>
    <img src="../../assets/images/our-logo.png" height="100">
  </header>
  <div id="cert-content">
    <div id="cert-title">OurAI <span id="community">Community</span></div>
    <div id="cert-user-name">David G Brice</div>
    <div><b>Founder</b></div>
    <div><i>Member Since March 2018</i></div>
    <div id="total-neurons"><b>1000 AI Neurons</b></div>
    <div id="cert-skills" >
      <div class="row">
      <div class="col-6 text-left">
        <div class="cert-skill">Accouting</div>
        <div class="cert-skill">Medical</div>
        <div class="cert-skill">Engineering</div>
        <div class="cert-skill">Marketing</div>
      </div>
      <div class="col-6 text-right">
        <div class="cert-skill-neurons"> 250 AI Neurons</div>
        <div class="cert-skill-neurons"> 250 AI Neurons</div>
        <div class="cert-skill-neurons"> 250 AI Neurons</div>
        <div class="cert-skill-neurons"> 250 AI Neurons</div>
      </div>
      </div>
    </div>
  </div>
  <footer>
    <a class="btn" href="http://35.189.54.175/">OurAI.Community</a>
  </footer>
</div>
