<div class="container">
  <header>
  <img src="../../assets/images/our-logo.png" height="100">
  </header>
  <div id="cert-content">
    <div id="cert-tile">OurAI Certificate</div>
    <div id="cert-user-name">David G Brice</div>
    <div id="cert-member-date">Member Since March 2018</div>
    <div id="cert-total-neurons">1000 AI Neurons</div>
    <div id="cert-skills">
      <div class="cert-skill">Accouting 250 AI Neurons</div>
      <div class="cert-skill">Doctor 250 AI Neurons</div>
      <div class="cert-skill">Engineering 250 AI Neurons</div>
      <div class="cert-skill">Fishing 250 AI Neurons</div>
    </div>
  </div>
  <footer>
    <a class="btn">OurAI.Community</a>
  </footer>
</div>
